body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #333;
    display: flex;
    padding: 0.5rem;
}

nav a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.active-section {
    display: block;
}

#courses {
    margin-top: 2rem;
}

#course-details {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #e0f2f1;
    border-radius: 5px;
}

